[Desktop Entry]
Type=Application
Name=开听
Comment=Play local and remote music libraries
Exec=kaiting
Icon=kaiting
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;player;library;
